$background-color: #f6f5f3;
$text-dark: #464645;
$text-light: #757473;
$toggle-highlight: #a6a19a;
$border-color: #dcdcdc;
$brand-color-light: #d9a76a;
$brand-color-dark: #c19579;

$desktop-side-padding: 120px;
$tablet-side-padding: 60px;
$mobile-side-padding: 30px;

$lg-screen-min: 1100px;
$md-screen-min: 700px;

$body-font: 'Questrial', sans-serif;
$header-font: 'Source Serif Pro', serif;
