@import '../../globals.scss';

.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    font-size: 18px;

    .cart-item-image {
        max-width: 100%;
    }

    .cart-item-info {
        display: grid;
        grid-template-rows: min-content min-content 1fr;

        .cart-item-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .cart-item-price {
            color: $text-light;
        }

        .cart-item-remove {
            align-self: end;
            color: $brand-color-dark;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
